.App{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 50%;
margin: 20vh auto;
font-family: Roboto, sans-serif;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

button {
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}